body {
  margin: 0;
  background-color: darkslategray;
}
.navbar {
  padding: 20px;
}

/* .navbar-brand {
  text-decoration: none;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
} */

.btn {
  padding: 5px 15px;
  border-radius: 1rem;
}
