body {
  margin: 0;
}
.navbar {
  background-color: darkslategray;
  padding: 20px;
}

.navbar-brand {
  text-decoration: none;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

.card-body {
  background-color: #f8dcf8;
}

.is-form-valid {
  border: 1px solid green;
  border-left: 15px solid green;
  box-shadow: 0 0 10px black;
  border-radius: 5px;
}

.is-form-invalid {
  border: 1px solid orangered;
  border-left: 15px solid orangered;
  box-shadow: 0 0 10px orangered;
  border-radius: 5px;
}

.text-success {
  color: limegreen;
  font-size: 14px;
}

.text-danger {
  color: orangered;
  font-size: 14px;
}
